body{
    background-color: #2c3e50;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90vh;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: 320px;
    text-align: center;
}

.login-box h2 {
    margin-top: 2px;
}

.login-box input {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #a3a3a3;
    border-radius: 6px;
}

.login-box button {
    width: 80%;
    height: 40px;
    margin-top: 12px;
    border: none;
    border-radius: 6px;
    background-color: #2c3e50;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #222d3c;
}